# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/

# Cache directory
cache/

# Version control
.git
.gitignore

# unnecessary txt files
discussion.txt 
test.txt 
test4.txt 

#env variable 
*/.env

#ignore all logs
*/.log 
